
.container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
 
  .filterButton{
    color: #888792;
    display: flex;
    font-size: 16px;
    align-items: center;
    border: none;
    background-color: transparent;
}