

.arrowLeft{
    width: 16px;
    height: 16px;
}

.sidebar{
    padding: 30px;
}

.submenu{
    color: #252020;
    font-size: 18px;
    border-bottom: 1px solid #E5E5E5;
    text-transform: uppercase;
}
.title{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.Subtitle{
    font-weight: 400;
}
